body {
  font-family: 'Inconsolata', monospace;
}

h2 {
  font-size: 35px;
}

#navbar {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: #fafafa;
  border-radius: 2px;
  display: sticky;
}

#navbar a {
  text-decoration: none;
  color: black;
  margin-right: 6%;
  font-size: 26px;
  margin-bottom: 10px;
}

#welcome-section {
  height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  padding: 2%;
}

#projects-title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc {
  grid-column: 1/2;
}

#drum {
  grid-column: 3/4;
}

#clock {
  grid-column: 2/3;
}

#coin {
  grid-column: 1/2;
}

#wallet {
  grid-column: 3/4;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 2px;
}

#touch {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-link {
  height: calc(100vh - 40px - 40px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#profile-link a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

.contact-btn {
  height: 20vw;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px solid rgba(0, 0, 0, .9);
  /* margin-bottom: 20%; */
  border-radius: 50%;
}

.contact-btn:hover {
  background: pink;
}

footer {
  height: 40px;
  background: rgba(0, 0, 0, .8);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#credit {
  font-size: 22px;
  padding-right: 10%;
  padding-bottom: 20%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

@media(max-width: 992px) {
  #navbar {
    justify-content: space-around;
  }
  #navbar a {
    margin-right: 0px;
  }
}

@media(max-width: 768px) {
  #navbar {
    justify-content: space-around;
  }
  #navbar a {
    margin-right: 0px;
  }
  footer {
    justify-content: center;
  }
  #credit {
    font-size: 22px;
    padding-right: 0%;
    padding-bottom: 20%;
  }
}

@media(max-width: 480px) {
  #profile-link {
    flex-direction: column;
  }
  .contact-btn {
    border-radius: 0px;
    width: 90vw;
    height: 15vh;
  }
}